html,
body {
    height: 100%;
    background-color: hsl(212, 45%, 89%);
}

body {
    font-family: 'Outfit', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-component {
    background-color: hsl(0, 0%, 100%);
    height: 490px;
    width: 320px;
    border-radius: 5%;
}

.inner-component {
    padding: 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.qr-code {
    margin-bottom: 12px;
}

.qr-code-img {
    width: 290px;
    height: 290px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 5%;
}

.qr-text {
    text-align: center;
    width: 290px;
}

.qr-text-heading {
    font-size: 20px;
    font-weight: bold;
    color: hsl(218, 44%, 22%);
    margin-bottom: 20px;
    padding-left: 8px;
    padding-right: 8px;
}

.qr-text-description {
    font-size: 15px;
    font-weight: 400;
    color: hsla(212, 46%, 89%);
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
}
