html,
body {
    height: 100%;
}

body {
    margin: 0px;
    font-family: 'Outfit', sans-serif;
}

p {
    text-align: center;
}

h1 {
    text-align: center;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.main-element {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: hsl(212, 45%, 89%);
}

.inner-element {
    background-color: hsl(0, 0%, 100%);
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 500px;
}

.qr-code-container {
    margin-left: 8px;
    margin-right: 8px;
}

.qr-code-img {
    border-radius: 5%;
    width: 290px;
    height: 290px;
}

.qr-heading-container {
    width: 275px;
}

.qr-heading {
    font-size: 21px;
    color: hsl(218, 44%, 22%);
}

.text-container {
    overflow-wrap: break-word;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.description-contaner {
    padding-left: 21px;
    padding-right: 21px;
}

.description {
    color: hsl(212, 45%, 89%);
    font-size: 15px;
    padding: 5px;
}

.description {
    padding-top: 0px;
}